@use "utils.module.scss";

.sideBySideCenter{

    figure{
        width: 40vw;
    }

    div{

        h1{
            font-size: var(--heading2);
        }

        p{
            margin: var(--space-xs) 0;
            font-size: var(--body);
        }
    }
}