.ClipsContainer{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 300px 300px 300px;

    @media (max-width: 1000px){
        justify-content: center;
        grid-template-columns: 500px;
        grid-template-rows: auto auto auto;
    }

    div{
        .twitter-tweet{
            max-width: 300px;

            iframe{
                width: 300px;
            }
        }
    }


}

