// プロフィールコンテナ―
.flexContainer{
    height: 100%;
    width: 100%;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // 要調整
    box-shadow: 2px 2px 15px 2px rgba(#000, 0.3);
}

.profileContainer{
    display: flex;
    justify-content: space-evenly;
}

// リンクコンテナ―
.linkContainer{
    display: flex;
    
}