.twoColumns{
    display: flex;
    justify-content: space-between;
}

// プロフィールコンテナ―
.flexContainer{
    position: sticky;
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    align-items: center;
}

// リンクコンテナ―
.linksContainer{

}