@use "utils.module";


.GridStyle{
    width: 100%;
    figure{
        width: 100%;
        &:hover{
            opacity: 0.6;
        }
    }
}

// 公式サイトリンク
.officialLink{
    width: 100%;
    text-align: center;
    margin-top: var(--space-xs);
    font-size: var(--heading1);
    text-decoration: solid;

    a{
        color: yellowgreen;

        &:hover{
            color: black;
        }
    }
}