.menu{

    ul{
        display: flex;
        align-items: center;
        justify-content: flex-end;

        li{
            text-align: center;
            list-style: none;

            a{
                padding: var(--space-xs) var(--space-sm);
                font-size: var(--small-heading2);
                color: #000;
                text-align: center;
                text-decoration: none;
                cursor: pointer;


                &:hover{
                    // 後で調整する
                    border-bottom: 3px solid yellowgreen;
                }
            }
        }
    }
}