.menu{

    ul{
        display: flex;
        align-items: center;
        justify-content: flex-end;

        li{
            text-align: center;
            list-style: none;
            cursor: pointer;

            a{
                padding: 13px 26px;
                font-size: 1.4em;
                color: #000;
                text-align: center;
                text-decoration: none;

                &:hover{
                    // 後で調整する
                    border-bottom: 3px solid yellowgreen;
                }
            }
        }
    }
}