.menu{

    ul{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;

        li{
            text-align: center;
            list-style: none;

            a{
                // paddingトfont-size要調整
                padding: 4vh 1vw;
                font-size: calc(3vw * 0.75);
                color: #000;
                text-align: center;
                text-decoration: none;
                cursor: pointer;


                &:hover{
                    // 後で調整する
                    border-bottom: 3px solid yellowgreen;
                }
            }
        }
    }
}